body {
    font-family: fantasy;
    background: rgb(163, 46, 163);
    text-align: center;
}

#tylor {
    width: 150px;
    border-radius: 50%;
    border: 6px solid rgb(209, 150, 62);
}


h1, h2, h4 {
    text-shadow: 2px 0px 2px white;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bd-age {
    background: rgb(202, 130, 22);
    padding: 3px 7px;
    border-radius: 5px;
    margin: 10px 0px;
}

#bd-yr {
    background: rgb(202, 130, 22);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px;
}

.gift-section {
    margin-top: 50px;

}

.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("assets/gift-cover.jpg");
    background-size: cover;
}

#gift-img-toyou:hover {
    background-image: url(assets/cinderella-chandler.gif);
}

#gift-img-you:hover {
    background-image: url(assets/you.gif);
}

#gift-img-red:hover {
    background-image: url(assets/taylor-swift.gif);
}

#gift-img-blank:hover {
    background-image: url(assets/blank.gif);
}

#gift-img-cheers:hover {
    background-image: url(assets/thankyou.gif);
}

.gift-title {
    margin-bottom: 5px;
}
.gift-hint {
    margin-top: 0px;
}
